# Editor backup files
*~
# Generated PDF
assembler/*.pdf
calling-convention/*.pdf
tutorials/*.pdf
# Generated automake and TexInfo files
stamp-vti
autom4te.cache/
# Fonts
fonts/
# NXML support
rnc/
schemas.xml
# Build directory
bd/
# Untracked reference stuff
background/
